.alert {
    display: block;
    position: relative;
    margin: 0 -25px;
    padding: 10px 25px;
    font-size: 14px;
}

.alert:nth-child(even) {
    background-color: rgba(0,0,0,0.05);
}

.alert > .text {
    width: 70%;
    float: left;
    padding-right: 5px;
}

.alert > .delete {
    margin-left: 10px;
    float: right;
    width: 8%;
}

.alert > .change_status {
    width: 20%;
    float: right;
}