.ui-button {
    width: 100px;
    font-weight: 300;
    font-family: Ubuntu;
    font-size: 13px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.ui-state-active {
    font-weight: bold !important;
    font-size: 14px;
    font-family: Ubuntu;
}
